.card {
    color: rgb(33, 37, 41);
}

.btn-new {
    width: 100%;
    background: linear-gradient(to right, darkgreen, #28a745);
    border-radius: 2%;
    border: none;
}

.btn-new:hover {
    background: linear-gradient(to left, darkgreen, #28a745, darkgreen);
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

.fc-event{
    cursor: pointer;
}

.fc-event:hover{
    box-shadow: 0 10px 6px -6px #777;
}

.fc-content .fc-time{
    color: white;
}